{% extends 'admin/base_admin.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Main Store Management</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <div class="px-3 pb-3">
                            <a href="{% url 'reptrack_trace:admin-main-store-create' %}" class="btn btn-primary">Add New Main Store</a>
                        </div>
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Location</th>
                                    <th>Manager</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for main_store in main_stores %}
                                <tr>
                                    <td>{{ main_store.name }}</td>
                                    <td>{{ main_store.location }}</td>
                                    <td>{{ main_store.manager }}</td>
                                    <td>{{ main_store.status }}</td>
                                    <td>
                                        <a href="{% url 'reptrack_trace:admin-store-update' main_store.pk %}" class="btn btn-info btn-sm">Edit</a>
                                        <a href="{% url 'reptrack_trace:admin-main-store-delete' main_store.pk %}" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        {% include "include/Pagination.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}