asgiref==3.8.1
chardet==5.2.0
crispy-bootstrap5==2025.4
Django==5.2.1
django-cors-headers==4.7.0
django-crispy-forms==2.4
django-extensions==4.1
django-pwa==2.0.1
gunicorn==23.0.0
packaging==25.0
pillow==11.2.1
reportlab==4.4.0
sqlparse==0.5.3
whitenoise==6.9.0
